# Getting things going and highlighting "the problem"

In [225]:
import pandas as pd
import sqlite3

ramphs = pd.read_csv("https://raw.githubusercontent.com/sfsheath/roman-amphitheaters/master/roman-amphitheaters.csv")
chronogrps = pd.read_csv("https://raw.githubusercontent.com/sfsheath/roman-amphitheaters/master/chronogrps.csv")

# I put an uncompressed version of pleiades-places into my folder on the github repo
pleiades = pd.read_csv("https://raw.githubusercontent.com/isaw-ga-3024/isaw-ga-3024.github.io/master/heath-sebastian/pleiades-places.csv")

# One note: because it takes a long time to load the pleiades data,
# avoid running this cell again unless necessary
# As I look back on class, perhaps this is why Mikael reported 
# that his replace was taking a long time. Was the data reloading across the internet?

In [2]:
# ramphs, chronogrps, and pleiades are now pandas DataFrames

print(type(ramphs))
print(type(chronogrps))
print(type(pleiades))

# Again, these are pandas DataFrames, not sql tables!

<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>

In [117]:
# OK, to our problem in class.

# inspect the values in both DataFrmes
print(ramphs['pleiades'].head(2))
print(pleiades['id'].head(2))

# They're different. Bummer.

0    893989
1    148217
Name: pleiades, dtype: object
0    265876
1    265877
Name: id, dtype: int64

# A tiny bit of string manipulation

In [106]:
tmp = "Hello World"
tmp.replace("Hello", "") # note that this doesn't remove the space

' World'

# A little bit of pandas dataframe manipulation

In [107]:
# first
ramphs.head(2)

,id,title,label,pleiades,type,capacity,modcountry,chronogrp,certainty,youtube,extmajor,extminor,arenamajor,arenaminor,latitude,longitude,elevation
0,duraEuroposAmphitheater,Amphitheater at Dura Europos,Dura,893989,amphitheater,1000.0,Syria,Severan,NaN,NaN,50.0,44.0,31.0,25.0,34.749855,40.728926,223
1,arlesAmphitheater,Amphitheater at Arles,Arles,148217,amphitheater,20000.0,France,Flavian,NaN,https://www.youtube.com/watch?v=oCz-76hb1LU,136.0,107.0,47.0,32.0,43.677778,4.631111,21

In [108]:
# then
ramphs['pleiades'].head(2)

# so it's easy to output either all columns, or just a selection.
# And it's likely that your notebook is trying to nicely format the output of ramphs.head(2).

0    893989
1    148217
Name: pleiades, dtype: object

In [109]:
# it's easy to create new columns
ramphs['new'] = "test"
ramphs['new'].head(5)
ramphs.head(2)
# And look!!!! Very important to note that pandas will automatically assign "test" to all rows.
# That's one of its great powers.

,id,title,label,pleiades,type,capacity,modcountry,chronogrp,certainty,youtube,extmajor,extminor,arenamajor,arenaminor,latitude,longitude,elevation,new
0,duraEuroposAmphitheater,Amphitheater at Dura Europos,Dura,893989,amphitheater,1000.0,Syria,Severan,NaN,NaN,50.0,44.0,31.0,25.0,34.749855,40.728926,223,test
1,arlesAmphitheater,Amphitheater at Arles,Arles,148217,amphitheater,20000.0,France,Flavian,NaN,https://www.youtube.com/watch?v=oCz-76hb1LU,136.0,107.0,47.0,32.0,43.677778,4.631111,21,test

In [12]:
# combining pandas and string manipulation
ramphs['new'].str.replace("e","").head(5) # do note the ".str" before ".replace"
# Again, pandas calculates result for all rows

0    tst
1    tst
2    tst
3    tst
4    tst
Name: new, dtype: object

In [13]:
# here's a useful construct, though dangerous in that 
# it changes data (a concern some of you raised in class)


ramphs['new'] = ramphs['new'].str.replace("t","")
ramphs['new'].head(5)

0    es
1    es
2    es
3    es
4    es
Name: new, dtype: object

# Review of adding tables to an sql database (to keep our terminology straight)

In [118]:
# The conn variable is a 'database connection'
# we are making this database in memory, meaning it won't be saved
conn = sqlite3.connect(':memory:')

# as convenience, I've put the above in a separate cell. You may not need to run it again.

In [119]:
# the following two lines create sql tables from pandas DataFrames
ramphs.to_sql('ramphs',conn,if_exists="replace")
chronogrps.to_sql('chronogrps', conn, if_exists="replace")

# copy-paste, then edit one of the the above lines to make a pleiades table

In [120]:
# let's test that we have sql tables
pd.read_sql("""SELECT id,pleiades FROM RAMPHS WHERE capacity > 40000""",conn)

# but that only confirms all is well working for the ramphs table.
# Good to test others as well.

                        id pleiades
0  romeFlavianAmphitheater   423025

In [135]:
# a reminder
pd.read_sql("""PRAGMA table_info(pleiades)""",conn)
# will display the columns in the pleiades table (assuming you called it 'pleiades')
# look at those columns, which ones have 'chronological' information

    cid                name     type  notnull dflt_value  pk
0     0               index  INTEGER        0       None   0
1     1             authors     TEXT        0       None   0
2     2                bbox     TEXT        0       None   0
3     3        connectsWith     TEXT        0       None   0
4     4             created     TEXT        0       None   0
5     5            creators     TEXT        0       None   0
6     6      currentVersion  INTEGER        0       None   0
7     7         description     TEXT        0       None   0
8     8              extent     TEXT        0       None   0
9     9        featureTypes     TEXT        0       None   0
10   10          geoContext     TEXT        0       None   0
11   11  hasConnectionsWith     TEXT        0       None   0
12   12                  id  INTEGER        0       None   0
13   13   locationPrecision     TEXT        0       None   0
14   14             maxDate     REAL        0       None   0
15   15             minDate     REAL        0       None   0
16   16            modified     TEXT        0       None   0
17   17                path     TEXT        0       None   0
18   18             reprLat     REAL        0       None   0
19   19         reprLatLong     TEXT        0       None   0
20   20            reprLong     REAL        0       None   0
21   21                tags     TEXT        0       None   0
22   22         timePeriods     TEXT        0       None   0
23   23     timePeriodsKeys     TEXT        0       None   0
24   24    timePeriodsRange     TEXT        0       None   0
25   25               title     TEXT        0       None   0
26   26                 uid     TEXT        0       None   0

# More mixing of pandas and sql

In [110]:
# worth noting that the result of pd.read_sql statement is a pandas DataFrame
type(pd.read_sql("""SELECT id FROM ramphs WHERE capacity > 20000""",conn))

# this means you can use pandas .groupby on it. This is familiar from last week
pd.read_sql("""SELECT modcountry,capacity FROM ramphs""",conn).groupby('modcountry').count()

                 capacity
modcountry
Albania                 1
Algeria                 6
Austria                 3
Bulgaria                2
Croatia                 2
Cyprus                  0
France                 18
Germany                 2
Greece                  1
Hungary                 0
Israel                  1
Italy                  39
Libya                   3
Morocco                 0
Netherlands             0
Northern Cyprus         0
Portugal                1
Romania                 1
Serbia                  1
Spain                   6
Switzerland             4
Syria                   1
Tunisia                22
Turkey                  1
United Kingdom          6

# Start Assignment

In [238]:
import pandas as pd
import sqlite3

ramphs = pd.read_csv("https://raw.githubusercontent.com/sfsheath/roman-amphitheaters/master/roman-amphitheaters.csv")
chronogrps = pd.read_csv("https://raw.githubusercontent.com/sfsheath/roman-amphitheaters/master/chronogrps.csv")
pleiades = pd.read_csv("https://raw.githubusercontent.com/isaw-ga-3024/isaw-ga-3024.github.io/master/heath-sebastian/pleiades-places.csv")

In [239]:
ramphs.to_sql('ramphs',conn,if_exists="replace")
chronogrps.to_sql('chronogrps', conn, if_exists="replace")
pleiades.to_sql('pleiades',conn,if_exists="replace")

In [275]:
ramphs['pleiades'] = ramphs['pleiades'].str.replace("http://pleiades.stoa.org/places/","")
ramphs.to_sql('ramphs',conn,if_exists="replace")
pd.read_sql("""SELECT ramphs.pleiades, pleiades.id FROM ramphs, pleiades LIMIT 10""", conn)

  pleiades      id
0   893989  265876
1   893989  265877
2   893989  265878
3   893989  265880
4   893989  265882
5   893989  265883
6   893989  265884
7   893989  265886
8   893989  265887
9   893989  265888

In [288]:
pd.read_sql("""SELECT ramphs.id, pleiades.title, pleiades.minDate, pleiades.maxDate 
FROM pleiades, ramphs
WHERE pleiades.id = ramphs.pleiades
ORDER BY pleiades.minDate""", conn)

,id,title,minDate,maxDate
0,pergamumAmphitheater,Pergamum,-1750.0,2000.0
1,antiochAmphitheater,Antiochia/Theoupolis,-1750.0,2100.0
2,bostraAmphitheater,Bostra/Col. Nova Traiana Alexandriana,-1344.0,2000.0
3,cyzicusAmphitheater,Cyzicus,-1200.0,2000.0
4,arlesAmphitheater,Theline/Col. Arelate/Constantina,-750.0,2100.0
5,ludusMagnusArena,Roma,-750.0,2100.0
6,romeFlavianAmphitheater,Roma,-750.0,2100.0
7,romeAmphitheatrumCastrense,Roma,-750.0,2100.0
8,pompeiiAmphitheater,Pompeii,-750.0,2100.0
9,conimbrigaAmphitheater,Conimbriga,-750.0,640.0
10,cumaeAmphitheater,Cumae/Kyme (Campanian),-750.0,640.0
11,pozzuoliFlavianAmphitheater,Dikaiarcheia/Puteoli,-750.0,2100.0
12,pozzuoliEarlyAmphitheater,Dikaiarcheia/Puteoli,-750.0,2100.0
13,syracuseAmphitheater,Syracusae/Syrakousai,-750.0,2100.0
14,carthageAmphitheater,Carthago,-750.0,2100.0
15,corinthAmphitheater,Corinthus/Korinthos,-750.0,2100.0
16,leptisMagnaAmphitheater,Neapolis/Lepcis Magna,-750.0,640.0
17,empuriesAmphitheater,Emporiae,-750.0,640.0
18,cagliariAmphitheater,Caralis,-750.0,2100.0
19,catiniaAmphitheater,Katane/Catina,-750.0,2100.0
20,paestumAmphitheater,Poseidonia/Paestum,-750.0,2100.0
21,rusellaeAmphitheater,Rusellae,-750.0,2100.0
22,cyreneAmphitheater,Cyrene,-750.0,2100.0
23,scythopolisNysaAmphitheater,Scythopolis/Nysa,-750.0,640.0
24,ocriculumAmphitheater,Ocriculum,-750.0,2100.0
25,lixusAmphitheater,Lixus,-750.0,640.0
26,arezzoAmphitheater,Arretium,-750.0,2100.0
27,larinumAmphitheater,Larinum,-750.0,2100.0
28,grumentoAmphitheater,Grumentum,-750.0,2100.0
29,tiburAmphitheater,Tibur,-750.0,640.0
...,...,...,...,...
192,caparraAmphitheater,Capera,-30.0,640.0
193,lillebonnAmphitheater,Iuliobona,-30.0,2100.0
194,limogesAmphitheater,Augustoritum,-30.0,2100.0
195,agenAmphitheater,Aginnum,-30.0,2100.0
196,meauxAmphitheater,Iatinon/Fixtuinum,-30.0,2100.0
197,chartresAmphitheater,Autricum,-30.0,2100.0
198,senlisAmphitheater,Augustomagus,-30.0,2100.0
199,toursAmphitheater,Caesarodunum,-30.0,2100.0
200,caistorStEdmundAmphitheater,Venta,-30.0,640.0
201,stMarcelAmphitheater,*Argentomagus,-30.0,2100.0
202,metzAmphitheater,Divodurum?,-30.0,300.0
203,grandHalfAmphitheater,Grannum,-30.0,2100.0
204,albegnaAmphitheater,Album Ingaunum/Albingaunum,-30.0,2100.0
205,chassenonAmphitheater,Cas(s)inomagus,-30.0,2100.0
206,seressiAmphitheater,*Seressi,-30.0,640.0
207,genzanoPrivateAmphitheater,Antonini,-30.0,640.0
208,ainHedjahAmphitheater,Agbia,-30.0,640.0
209,portusOvalStructure,Portus,-30.0,2100.0
210,montbouyGallRomanAmphitheater,Montbouy,-30.0,2100.0
211,hisaryaAmphitheater,Diocletianopolis,-30.0,640.0
212,mesarafeltaAmphitheater,Mesarfelta,-30.0,640.0
213,tigavaCastraAmphitheater,Tigava Castra,-30.0,300.0
214,aostaAmphitheater,Augusta Praetoria,-30.0,2100.0
215,imolaAmphitheater,Forum Cornelii,-30.0,2100.0
216,pollenzoAmphitheater,Pollentia,-30.0,640.0
217,megiddoAmphitheater,Legio/Caporcotani/Maximianopolis,-30.0,640.0
218,yorkAmphitheater,Eburacum,-30.0,640.0
219,barcelonaAmphitheater,Col. Barcino,-30.0,2100.0
220,chichesterAmphitheater,Noviomagus,-30.0,2100.0
221,reggioEmiliaAmphitheater,Regium Lepidum,-30.0,2100.0

In [289]:
pd.read_sql("""SELECT ramphs.id, chronogrps.start, pleiades.title, pleiades.minDate, pleiades.maxDate 
FROM pleiades, ramphs, chronogrps 
WHERE (pleiades.id = ramphs.pleiades) AND (ramphs.chronogrp = chronogrps.chronogrp)
ORDER BY chronogrps.start""", conn)

,id,start,title,minDate,maxDate
0,pompeiiAmphitheater,-70,Pompeii,-750.0,2100.0
1,cumaeAmphitheater,-70,Cumae/Kyme (Campanian),-750.0,640.0
2,pozzuoliEarlyAmphitheater,-70,Dikaiarcheia/Puteoli,-750.0,2100.0
3,paestumAmphitheater,-70,Poseidonia/Paestum,-750.0,2100.0
4,avellaAmphitheater,-70,Abella,-330.0,640.0
5,ferentoAmphitheater,-70,Lucus Feroniae,-550.0,640.0
6,sutriumAmphitheatre,-70,Sutrium,-550.0,640.0
7,telesiaAmphitheatre,-70,Telesia,-330.0,640.0
8,antiochAmphitheater,-70,Antiochia/Theoupolis,-1750.0,2100.0
9,beneventoAmphitheater,-70,Beneventum/Maleventum,-330.0,2100.0
10,calviRisortaAmphitheater,-70,Cales,-550.0,640.0
11,capuaRepublicanAmphitheater,-70,Capua,-750.0,640.0
12,liternoAmphitheater,-70,Liternum,-330.0,640.0
13,teanoAmphitheater,-70,Tusculum,-750.0,2100.0
14,suessaAruncaAmphitheater,-70,Suessa Aurunca,-750.0,640.0
15,altripaldaAmphitheater,-70,Abellinum,-330.0,640.0
16,compsaAmphitheater,-70,Compsa,-550.0,640.0
17,corinthAmphitheater,-49,Corinthus/Korinthos,-750.0,2100.0
18,carmonaAmphitheater,-49,Carmo,-750.0,2100.0
19,espejoAmphitheater,-49,Ucubi/Col. Claritas Iulia,-330.0,300.0
20,meridaAmphitheater,-27,Emerita Augusta,-30.0,2100.0
21,conimbrigaAmphitheater,-27,Conimbriga,-750.0,640.0
22,syracuseAmphitheater,-27,Syracusae/Syrakousai,-750.0,2100.0
23,rusellaeAmphitheater,-27,Rusellae,-750.0,2100.0
24,luceriaNoukeriaAmphitheater,-27,Luceria/Noukeria (Apoulon),-550.0,2100.0
25,cimiezAmphitheater,-27,Cemenelum,-330.0,2100.0
26,veronaAmphitheatre,-27,Verona,-30.0,640.0
27,albaFucensAmphitheater,-27,Alba Fucens,-330.0,2100.0
28,cherchellAmphitheater,-27,Iol Caesarea,-550.0,2100.0
29,pulaAmphitheater,-27,Pola,-330.0,2100.0
...,...,...,...,...,...
192,amiensAmphitheater,100,Samarobriva Ambianorum,-330.0,2100.0
193,seressiAmphitheater,100,*Seressi,-30.0,640.0
194,chemtouAmphitheater,100,Simitthu,-330.0,2100.0
195,genzanoPrivateAmphitheater,100,Antonini,-30.0,640.0
196,ainHedjahAmphitheater,100,Agbia,-30.0,640.0
197,uticaAmphitheater,100,Utica,-750.0,640.0
198,tebourbaAmphitheater,100,Thuburbi Minus,-330.0,2100.0
199,hencherElKasbatAmphitheater,100,Thuburbo Maius,-330.0,640.0
200,hencherZembraAmphitheater,100,Uluzibbira,-330.0,640.0
201,botriaAmphitheater,100,Acholla,-330.0,640.0
202,portusOvalStructure,100,Portus,-30.0,2100.0
203,mesarafeltaAmphitheater,100,Mesarfelta,-30.0,640.0
204,tigavaCastraAmphitheater,100,Tigava Castra,-30.0,300.0
205,tusculumAmphitheater,100,Tusculum,-750.0,2100.0
206,hadrianVillaAmphitheater,117,Villa Hadriani,-330.0,640.0
207,gemellaeAmphitheater,117,Gemellae,-30.0,640.0
208,toursAmphitheater,117,Caesarodunum,-30.0,2100.0
209,riminiAmphitheater,117,Ariminum,-550.0,640.0
210,colAugustaRauricaAmphitheatre,150,Col. Augusta Raurica,-330.0,2100.0
211,tipasaAmphitheater,150,Tipasa,-550.0,640.0
212,bullaRegiaAmphitheater,150,Bulla Regia,-330.0,640.0
213,duraEuroposAmphitheater,193,Dura,-330.0,640.0
214,romeAmphitheatrumCastrense,193,Roma,-750.0,2100.0
215,marcianopolisAmphitheater,193,Marcianopolis,-30.0,640.0
216,bararusAmphitheater,193,Bararus,-30.0,640.0
217,castraAlbanaAmphitheater,193,Castra Albana,-30.0,640.0
218,grandHalfAmphitheater,200,Grannum,-30.0,2100.0
219,thysdrusAmphitheater,235,Thysdrus,-330.0,2100.0
220,sophiaAmphitheater,235,Serdica,-30.0,2100.0
221,aphrodisiasAmphitheater,300,Aphrodisias,-550.0,640.0

In [301]:
ramphs2 = pd.read_sql("""SELECT ramphs.id, chronogrps.start, pleiades.title, pleiades.minDate, pleiades.maxDate 
FROM pleiades, ramphs, chronogrps 
WHERE (pleiades.id = ramphs.pleiades) AND (ramphs.chronogrp = chronogrps.chronogrp)
ORDER BY chronogrps.start""", conn)
ramphs2.to_sql("ramphs2", conn, if_exists='replace')
ramphs2.head(225)

,id,start,title,minDate,maxDate
0,pompeiiAmphitheater,-70,Pompeii,-750.0,2100.0
1,cumaeAmphitheater,-70,Cumae/Kyme (Campanian),-750.0,640.0
2,pozzuoliEarlyAmphitheater,-70,Dikaiarcheia/Puteoli,-750.0,2100.0
3,paestumAmphitheater,-70,Poseidonia/Paestum,-750.0,2100.0
4,avellaAmphitheater,-70,Abella,-330.0,640.0
5,ferentoAmphitheater,-70,Lucus Feroniae,-550.0,640.0
6,sutriumAmphitheatre,-70,Sutrium,-550.0,640.0
7,telesiaAmphitheatre,-70,Telesia,-330.0,640.0
8,antiochAmphitheater,-70,Antiochia/Theoupolis,-1750.0,2100.0
9,beneventoAmphitheater,-70,Beneventum/Maleventum,-330.0,2100.0
10,calviRisortaAmphitheater,-70,Cales,-550.0,640.0
11,capuaRepublicanAmphitheater,-70,Capua,-750.0,640.0
12,liternoAmphitheater,-70,Liternum,-330.0,640.0
13,teanoAmphitheater,-70,Tusculum,-750.0,2100.0
14,suessaAruncaAmphitheater,-70,Suessa Aurunca,-750.0,640.0
15,altripaldaAmphitheater,-70,Abellinum,-330.0,640.0
16,compsaAmphitheater,-70,Compsa,-550.0,640.0
17,corinthAmphitheater,-49,Corinthus/Korinthos,-750.0,2100.0
18,carmonaAmphitheater,-49,Carmo,-750.0,2100.0
19,espejoAmphitheater,-49,Ucubi/Col. Claritas Iulia,-330.0,300.0
20,meridaAmphitheater,-27,Emerita Augusta,-30.0,2100.0
21,conimbrigaAmphitheater,-27,Conimbriga,-750.0,640.0
22,syracuseAmphitheater,-27,Syracusae/Syrakousai,-750.0,2100.0
23,rusellaeAmphitheater,-27,Rusellae,-750.0,2100.0
24,luceriaNoukeriaAmphitheater,-27,Luceria/Noukeria (Apoulon),-550.0,2100.0
25,cimiezAmphitheater,-27,Cemenelum,-330.0,2100.0
26,veronaAmphitheatre,-27,Verona,-30.0,640.0
27,albaFucensAmphitheater,-27,Alba Fucens,-330.0,2100.0
28,cherchellAmphitheater,-27,Iol Caesarea,-550.0,2100.0
29,pulaAmphitheater,-27,Pola,-330.0,2100.0
...,...,...,...,...,...
192,amiensAmphitheater,100,Samarobriva Ambianorum,-330.0,2100.0
193,seressiAmphitheater,100,*Seressi,-30.0,640.0
194,chemtouAmphitheater,100,Simitthu,-330.0,2100.0
195,genzanoPrivateAmphitheater,100,Antonini,-30.0,640.0
196,ainHedjahAmphitheater,100,Agbia,-30.0,640.0
197,uticaAmphitheater,100,Utica,-750.0,640.0
198,tebourbaAmphitheater,100,Thuburbi Minus,-330.0,2100.0
199,hencherElKasbatAmphitheater,100,Thuburbo Maius,-330.0,640.0
200,hencherZembraAmphitheater,100,Uluzibbira,-330.0,640.0
201,botriaAmphitheater,100,Acholla,-330.0,640.0
202,portusOvalStructure,100,Portus,-30.0,2100.0
203,mesarafeltaAmphitheater,100,Mesarfelta,-30.0,640.0
204,tigavaCastraAmphitheater,100,Tigava Castra,-30.0,300.0
205,tusculumAmphitheater,100,Tusculum,-750.0,2100.0
206,hadrianVillaAmphitheater,117,Villa Hadriani,-330.0,640.0
207,gemellaeAmphitheater,117,Gemellae,-30.0,640.0
208,toursAmphitheater,117,Caesarodunum,-30.0,2100.0
209,riminiAmphitheater,117,Ariminum,-550.0,640.0
210,colAugustaRauricaAmphitheatre,150,Col. Augusta Raurica,-330.0,2100.0
211,tipasaAmphitheater,150,Tipasa,-550.0,640.0
212,bullaRegiaAmphitheater,150,Bulla Regia,-330.0,640.0
213,duraEuroposAmphitheater,193,Dura,-330.0,640.0
214,romeAmphitheatrumCastrense,193,Roma,-750.0,2100.0
215,marcianopolisAmphitheater,193,Marcianopolis,-30.0,640.0
216,bararusAmphitheater,193,Bararus,-30.0,640.0
217,castraAlbanaAmphitheater,193,Castra Albana,-30.0,640.0
218,grandHalfAmphitheater,200,Grannum,-30.0,2100.0
219,thysdrusAmphitheater,235,Thysdrus,-330.0,2100.0
220,sophiaAmphitheater,235,Serdica,-30.0,2100.0
221,aphrodisiasAmphitheater,300,Aphrodisias,-550.0,640.0

In [307]:
ramphs2.to_csv('ramphs2.csv')

In [327]:
difference = abs(ramphs2.minDate - ramphs2.start)
ramphs2['built_after_founding'] = difference
ramphs2.columns = ['Amphitheater_id', 'date_built', 'pleiades_region', 'minRegionDate', 'maxRegionDate', 'built_after_founding']
ramphs2.head(5)

,Amphitheater_id,date_built,pleiades_region,minRegionDate,maxRegionDate,built_after_founding
0,pompeiiAmphitheater,-70,Pompeii,-750.0,2100.0,680.0
1,cumaeAmphitheater,-70,Cumae/Kyme (Campanian),-750.0,640.0,680.0
2,pozzuoliEarlyAmphitheater,-70,Dikaiarcheia/Puteoli,-750.0,2100.0,680.0
3,paestumAmphitheater,-70,Poseidonia/Paestum,-750.0,2100.0,680.0
4,avellaAmphitheater,-70,Abella,-330.0,640.0,260.0

In [329]:
ramphs2.to_csv('ramphs2_final.csv')