# Getting things going and highlighting "the problem"

In [3]:
import pandas as pd
import sqlite3

ramphs = pd.read_csv("https://raw.githubusercontent.com/sfsheath/roman-amphitheaters/master/roman-amphitheaters.csv")
chronogrps = pd.read_csv("https://raw.githubusercontent.com/sfsheath/roman-amphitheaters/master/chronogrps.csv")

# I put an uncompressed version of pleiades-places into my folder on the github repo
pleiades = pd.read_csv("https://raw.githubusercontent.com/isaw-ga-3024/isaw-ga-3024.github.io/master/heath-sebastian/pleiades-places.csv")

# One note: because it takes a long time to load the pleiades data,
# avoid running this cell again unless necessary
# As I look back on class, perhaps this is why Mikael reported 
# that his replace was taking a long time. Was the data reloading across the internet?

In [4]:
# ramphs, chronogrps, and pleiades are now pandas DataFrames

print(type(ramphs))
print(type(chronogrps))
print(type(pleiades))

# Again, these are pandas DataFrames, not sql tables!

<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>

In [5]:
# OK, to our problem in class.

# inspect the values in both DataFrmes
print(ramphs['pleiades'].head(2))
print(pleiades['id'].head(2))

# They're different. Bummer.

0    http://pleiades.stoa.org/places/893989
1    http://pleiades.stoa.org/places/148217
Name: pleiades, dtype: object
0    265876
1    265877
Name: id, dtype: int64

# A tiny bit of string manipulation

In [6]:
tmp = "Hello World"
tmp.replace("Hello", "") # note that this doesn't remove the space

' World'

# A little bit of pandas dataframe manipulation

In [7]:
# first
ramphs.head(2)

,id,title,label,pleiades,type,capacity,modcountry,chronogrp,certainty,youtube,extmajor,extminor,arenamajor,arenaminor,latitude,longitude,elevation
0,duraEuroposAmphitheater,Amphitheater at Dura Europos,Dura,http://pleiades.stoa.org/places/893989,amphitheater,1000.0,Syria,Severan,NaN,NaN,50.0,44.0,31.0,25.0,34.749855,40.728926,223
1,arlesAmphitheater,Amphitheater at Arles,Arles,http://pleiades.stoa.org/places/148217,amphitheater,20000.0,France,Flavian,NaN,https://www.youtube.com/watch?v=oCz-76hb1LU,136.0,107.0,47.0,32.0,43.677778,4.631111,21

In [8]:
# then
ramphs['pleiades'].head(2)

# so it's easy to output either all columns, or just a selection.
# And it's likely that your notebook is trying to nicely format the output of ramphs.head(2).

0    http://pleiades.stoa.org/places/893989
1    http://pleiades.stoa.org/places/148217
Name: pleiades, dtype: object

In [9]:
# it's easy to create new columns
ramphs['new'] = "test"
ramphs['new'].head(5)

# And look!!!! Very important to note that pandas will automatically assign "test" to all rows.
# That's one of its great powers.

0    test
1    test
2    test
3    test
4    test
Name: new, dtype: object

In [10]:
# combining pandas and string manipulation
ramphs['new'].str.replace("e","").head(5) # do note the ".str" before ".replace"

# Again, pandas calculates result for all rows

0    tst
1    tst
2    tst
3    tst
4    tst
Name: new, dtype: object

In [11]:
# here's a useful construct, though dangerous in that 
# it changes data (a concern some of you raised in class)


ramphs['new'] = ramphs['new'].str.replace("t","")
ramphs['new'].head(5)

0    es
1    es
2    es
3    es
4    es
Name: new, dtype: object

# Review of adding tables to an sql database (to keep our terminology straight)

In [12]:
# The conn variable is a 'database connection'
# we are making this database in memory, meaning it won't be saved
conn = sqlite3.connect(':memory:')

# as convenience, I've put the above in a separate cell. You may not need to run it again.

In [13]:
# the following two lines create sql tables from pandas DataFrames
ramphs.to_sql('ramphs',conn,if_exists="replace")
pleiades.to_sql('pleiades', conn, if_exists="replace")
chronogrps.to_sql("chronogrps", conn, if_exists="replace")

# copy-paste, then edit one of the the above lines to make a pleiades table

In [15]:
# let's test that we have sql tables
pd.read_sql("""SELECT id,pleiades FROM ramphs WHERE capacity > 40000""",conn)

# but that only confirms all is well working for the ramphs table.
# Good to test others as well.

                        id                                pleiades
0  romeFlavianAmphitheater  http://pleiades.stoa.org/places/423025

In [16]:
# a reminder
pd.read_sql("""PRAGMA table_info(pleiades)""",conn)
# will display the columns in the pleiades table (assuming you called it 'pleiades')
# look at those columns, which ones have 'chronological' information

    cid                name     type  notnull dflt_value  pk
0     0               index  INTEGER        0       None   0
1     1             authors     TEXT        0       None   0
2     2                bbox     TEXT        0       None   0
3     3        connectsWith     TEXT        0       None   0
4     4             created     TEXT        0       None   0
5     5            creators     TEXT        0       None   0
6     6      currentVersion  INTEGER        0       None   0
7     7         description     TEXT        0       None   0
8     8              extent     TEXT        0       None   0
9     9        featureTypes     TEXT        0       None   0
10   10          geoContext     TEXT        0       None   0
11   11  hasConnectionsWith     TEXT        0       None   0
12   12                  id  INTEGER        0       None   0
13   13   locationPrecision     TEXT        0       None   0
14   14             maxDate     REAL        0       None   0
15   15             minDate     REAL        0       None   0
16   16            modified     TEXT        0       None   0
17   17                path     TEXT        0       None   0
18   18             reprLat     REAL        0       None   0
19   19         reprLatLong     TEXT        0       None   0
20   20            reprLong     REAL        0       None   0
21   21                tags     TEXT        0       None   0
22   22         timePeriods     TEXT        0       None   0
23   23     timePeriodsKeys     TEXT        0       None   0
24   24    timePeriodsRange     TEXT        0       None   0
25   25               title     TEXT        0       None   0
26   26                 uid     TEXT        0       None   0

# More mixing of pandas and sql

In [17]:
# worth noting that the result of pd.read_sql statement is a pandas DataFrame
type(pd.read_sql("""SELECT id FROM ramphs WHERE capacity > 20000""",conn))

# this means you can use pandas .groupby on it. This is familiar from last week
pd.read_sql("""SELECT modcountry,capacity FROM ramphs""",conn).groupby('modcountry').count()

                 capacity
modcountry
Albania                 1
Algeria                 6
Austria                 3
Bulgaria                2
Croatia                 2
Cyprus                  0
France                 18
Germany                 2
Greece                  1
Hungary                 0
Israel                  1
Italy                  39
Libya                   3
Morocco                 0
Netherlands             0
Northern Cyprus         0
Portugal                1
Romania                 1
Serbia                  1
Spain                   6
Switzerland             4
Syria                   1
Tunisia                22
Turkey                  1
United Kingdom          6

In [20]:
# You now have all the piecces to move towards completing and going beyond
# the task I set in class. The task was:

# "For each amphitheater with a Pleiades ID,
# list that ID's ancient name(s) and chronological information
# First step... what are the steps?"

# At a minimum, write an SQL SELECT query that lists amphitheater IDs that have
# Pleiades identifiers along with the chronological information that pleiades records

ramphs['pleiades']=ramphs['pleiades'].str.replace("http://pleiades.stoa.org/places/","")
ramphs.to_sql('ramphs', conn, if_exists="replace")
pd.read_sql("""SELECT ramphs.pleiades, pleiades.id FROM ramphs,pleiades LIMIT 5""", conn)

  pleiades      id
0   893989  265876
1   893989  265877
2   893989  265878
3   893989  265880
4   893989  265882

In [21]:
pd.read_sql("""SELECT ramphs.id, pleiades.title, pleiades.minDate, pleiades.maxDate FROM ramphs, pleiades 
WHERE pleiades.id=ramphs.pleiades ORDER BY pleiades.minDate""", conn)

,id,title,minDate,maxDate
0,pergamumAmphitheater,Pergamum,-1750.0,2000.0
1,antiochAmphitheater,Antiochia/Theoupolis,-1750.0,2100.0
2,palmyraAmphitheater,Palmyra,-1600.0,2100.0
3,bostraAmphitheater,Bostra/Col. Nova Traiana Alexandriana,-1344.0,2000.0
4,cyzicusAmphitheater,Cyzicus,-1200.0,2000.0
5,arlesAmphitheater,Theline/Col. Arelate/Constantina,-750.0,2100.0
6,ludusMagnusArena,Roma,-750.0,2100.0
7,romeFlavianAmphitheater,Roma,-750.0,2100.0
8,romeAmphitheatrumCastrense,Roma,-750.0,2100.0
9,pompeiiAmphitheater,Pompeii,-750.0,2100.0
10,conimbrigaAmphitheater,Conimbriga,-750.0,640.0
11,cumaeAmphitheater,Cumae/Kyme (Campanian),-750.0,640.0
12,pozzuoliFlavianAmphitheater,Dikaiarcheia/Puteoli,-750.0,2100.0
13,pozzuoliEarlyAmphitheater,Dikaiarcheia/Puteoli,-750.0,2100.0
14,syracuseAmphitheater,Syracusae/Syrakousai,-750.0,2100.0
15,carthageAmphitheater,Carthago,-750.0,2100.0
16,corinthAmphitheater,Corinthus/Korinthos,-750.0,2100.0
17,leptisMagnaAmphitheater,Neapolis/Lepcis Magna,-750.0,640.0
18,empuriesAmphitheater,Emporiae,-750.0,640.0
19,cagliariAmphitheater,Caralis,-750.0,2100.0
20,catiniaAmphitheater,Katane/Catina,-750.0,2100.0
21,paestumAmphitheater,Poseidonia/Paestum,-750.0,2100.0
22,rusellaeAmphitheater,Rusellae,-750.0,2100.0
23,cyreneAmphitheater,Cyrene,-750.0,2100.0
24,scythopolisNysaAmphitheater,Scythopolis/Nysa,-750.0,640.0
25,ocriculumAmphitheater,Ocriculum,-750.0,2100.0
26,lixusAmphitheater,Lixus,-750.0,640.0
27,arezzoAmphitheater,Arretium,-750.0,2100.0
28,larinumAmphitheater,Larinum,-750.0,2100.0
29,grumentoAmphitheater,Grumentum,-750.0,2100.0
...,...,...,...,...
227,autunAmphitheater,Augustodunum,-30.0,2100.0
228,xantenAmphitheater,Col. Ulpia Traiana/Tricensimae,-30.0,2100.0
229,arnsburgAmphitheater,Arnsburg,-30.0,300.0
230,kunzingAmphitheater,Quintana,-30.0,640.0
231,bobadelaAmphitheater,Elbocoris,-30.0,300.0
232,sopronAmphitheater,Scarbantia,-30.0,2100.0
233,gleisdorfAmphitheater,Gleisdorf,-30.0,640.0
234,stMarcelAmphitheater,*Argentomagus,-30.0,2100.0
235,metzAmphitheater,Divodurum?,-30.0,300.0
236,grandHalfAmphitheater,Grannum,-30.0,2100.0
237,albegnaAmphitheater,Album Ingaunum/Albingaunum,-30.0,2100.0
238,chassenonAmphitheater,Cas(s)inomagus,-30.0,2100.0
239,seressiAmphitheater,*Seressi,-30.0,640.0
240,genzanoPrivateAmphitheater,Antonini,-30.0,640.0
241,ainHedjahAmphitheater,Agbia,-30.0,640.0
242,portusOvalStructure,Portus,-30.0,2100.0
243,montbouyGallRomanAmphitheater,Montbouy,-30.0,2100.0
244,hisaryaAmphitheater,Diocletianopolis,-30.0,640.0
245,mesarafeltaAmphitheater,Mesarfelta,-30.0,640.0
246,tigavaCastraAmphitheater,Tigava Castra,-30.0,300.0
247,aostaAmphitheater,Augusta Praetoria,-30.0,2100.0
248,imolaAmphitheater,Forum Cornelii,-30.0,2100.0
249,forumNovumAmphitheater,Forum Novum,-30.0,640.0
250,aurelumCommodianumAmphitheater,Municipium Aurelium Commodianum/Thibiuca?,-30.0,640.0
251,pollenzoAmphitheater,Pollentia,-30.0,640.0
252,megiddoAmphitheater,Legio/Caporcotani/Maximianopolis,-30.0,640.0
253,yorkAmphitheater,Eburacum,-30.0,640.0
254,barcelonaAmphitheater,Col. Barcino,-30.0,2100.0
255,chichesterAmphitheater,Noviomagus,-30.0,2100.0
256,reggioEmiliaAmphitheater,Regium Lepidum,-30.0,2100.0

In [22]:
pd.read_sql("""SELECT ramphs.id, pleiades.title, pleiades.minDate, pleiades.maxDate, chronogrps.start FROM ramphs, pleiades, chronogrps
WHERE (pleiades.id=ramphs.pleiades) AND (ramphs.chronogrp=chronogrps.chronogrp) ORDER BY chronogrps.start""", conn)

,id,title,minDate,maxDate,start
0,pompeiiAmphitheater,Pompeii,-750.0,2100.0,-70
1,cumaeAmphitheater,Cumae/Kyme (Campanian),-750.0,640.0,-70
2,pozzuoliEarlyAmphitheater,Dikaiarcheia/Puteoli,-750.0,2100.0,-70
3,paestumAmphitheater,Poseidonia/Paestum,-750.0,2100.0,-70
4,avellaAmphitheater,Abella,-330.0,640.0,-70
5,ferentoAmphitheater,Lucus Feroniae,-550.0,640.0,-70
6,sutriumAmphitheatre,Sutrium,-550.0,640.0,-70
7,telesiaAmphitheatre,Telesia,-330.0,640.0,-70
8,antiochAmphitheater,Antiochia/Theoupolis,-1750.0,2100.0,-70
9,beneventoAmphitheater,Beneventum/Maleventum,-330.0,2100.0,-70
10,calviRisortaAmphitheater,Cales,-550.0,640.0,-70
11,capuaRepublicanAmphitheater,Capua,-750.0,640.0,-70
12,liternoAmphitheater,Liternum,-330.0,640.0,-70
13,noleAmphitheater,Nola,-750.0,640.0,-70
14,teanoAmphitheater,Tusculum,-750.0,2100.0,-70
15,suessaAruncaAmphitheater,Suessa Aurunca,-750.0,640.0,-70
16,altripaldaAmphitheater,Abellinum,-330.0,640.0,-70
17,compsaAmphitheater,Compsa,-550.0,640.0,-70
18,corinthAmphitheater,Corinthus/Korinthos,-750.0,2100.0,-49
19,carmonaAmphitheater,Carmo,-750.0,2100.0,-49
20,espejoAmphitheater,Ucubi/Col. Claritas Iulia,-330.0,300.0,-49
21,meridaAmphitheater,Emerita Augusta,-30.0,2100.0,-27
22,conimbrigaAmphitheater,Conimbriga,-750.0,640.0,-27
23,syracuseAmphitheater,Syracusae/Syrakousai,-750.0,2100.0,-27
24,rusellaeAmphitheater,Rusellae,-750.0,2100.0,-27
25,luceriaNoukeriaAmphitheater,Luceria/Noukeria (Apoulon),-550.0,2100.0,-27
26,cimiezAmphitheater,Cemenelum,-330.0,2100.0,-27
27,veronaAmphitheatre,Verona,-30.0,640.0,-27
28,albaFucensAmphitheater,Alba Fucens,-330.0,2100.0,-27
29,cherchellAmphitheater,Iol Caesarea,-550.0,2100.0,-27
...,...,...,...,...,...
227,chemtouAmphitheater,Simitthu,-330.0,2100.0,100
228,genzanoPrivateAmphitheater,Antonini,-30.0,640.0,100
229,ainHedjahAmphitheater,Agbia,-30.0,640.0,100
230,uticaAmphitheater,Utica,-750.0,640.0,100
231,tebourbaAmphitheater,Thuburbi Minus,-330.0,2100.0,100
232,hencherElKasbatAmphitheater,Thuburbo Maius,-330.0,640.0,100
233,hencherZembraAmphitheater,Uluzibbira,-330.0,640.0,100
234,botriaAmphitheater,Acholla,-330.0,640.0,100
235,portusOvalStructure,Portus,-30.0,2100.0,100
236,mesarafeltaAmphitheater,Mesarfelta,-30.0,640.0,100
237,tigavaCastraAmphitheater,Tigava Castra,-30.0,300.0,100
238,tusculumAmphitheater,Tusculum,-750.0,2100.0,100
239,aurelumCommodianumAmphitheater,Municipium Aurelium Commodianum/Thibiuca?,-30.0,640.0,100
240,hadrianVillaAmphitheater,Villa Hadriani,-330.0,640.0,117
241,gemellaeAmphitheater,Gemellae,-30.0,640.0,117
242,toursAmphitheater,Caesarodunum,-30.0,2100.0,117
243,riminiAmphitheater,Ariminum,-550.0,640.0,117
244,colAugustaRauricaAmphitheatre,Col. Augusta Raurica,-330.0,2100.0,150
245,tipasaAmphitheater,Tipasa,-550.0,640.0,150
246,bullaRegiaAmphitheater,Bulla Regia,-330.0,640.0,150
247,duraEuroposAmphitheater,Dura,-330.0,640.0,193
248,romeAmphitheatrumCastrense,Roma,-750.0,2100.0,193
249,marcianopolisAmphitheater,Marcianopolis,-30.0,640.0,193
250,bararusAmphitheater,Bararus,-30.0,640.0,193
251,castraAlbanaAmphitheater,Castra Albana,-30.0,640.0,193
252,grandHalfAmphitheater,Grannum,-30.0,2100.0,200
253,egnaziaAmphitheater,Egnatia/Gnathia,-750.0,640.0,200
254,thysdrusAmphitheater,Thysdrus,-330.0,2100.0,235
255,sophiaAmphitheater,Serdica,-30.0,2100.0,235
256,aphrodisiasAmphitheater,Aphrodisias,-550.0,640.0,300

# What if I don't accept the assignment?

In [ ]:
# That's OK. You can always use your own data or data you download. But you need to turn in
# an iPython notebook that demonstrates skills of approximately the same level of difficulty
# as what is above. At a minimum: a many-to-one or one-to-many relationship that is queried
# via SQL and then used to say something minimally interesting. The usual "go for it" applies.